<div class="container">
  <div class="calendar">
    <div class="card my-5 mx-auto w-75" id="calendar">
      <div class="card-body">
        <div class="month row align-items-center justify-content-center">
          <div class="date col-12 text-center">
            <div class="row align-items-center justify-content-center my-5">
              <div class="col-1"><i class="fas fa-angle-left prev"></i></div>
              <div class="col-4">
                <h1>May</h1>
                <p>Thur May 18, 2023</p>
              </div>
              <div class="col-1"><i class="fas fa-angle-right next"></i></div>
            </div>
          </div>
          <div class="weekdays col-12 my-5">
            <div class="row text-center">
              <div class="col">Sun</div>
              <div class="col">Mon</div>
              <div class="col">Tues</div>
              <div class="col">Wed</div>
              <div class="col">Thur</div>
              <div class="col">Fri</div>
              <div class="col">Sat</div>
            </div>
          </div>
          <div class="days col-12">
            <div class="row my-5">
              <div class="prev-date col">30</div>
              <div class="col">1</div>
              <div class="col">2</div>
              <div class="col">3</div>
              <div class="col">4</div>
              <div class="col">5</div>
              <div class="col">6</div>
            </div>
            <div class="row my-5">
              <div class="col">7</div>
              <div class="col">8</div>
              <div class="col">9</div>
              <div class="col">10</div>
              <div class="col">11</div>
              <div class="col">12</div>
              <div class="col">13</div>
            </div>
            <div class="row my-5">
              <div class="col">14</div>
              <div class="col">15</div>
              <div class="col">16</div>
              <div class="col">17</div>
              <div class="col">18</div>
              <div class="col">19</div>
              <div class="col">20</div>
            </div>
            <div class="row my-5">
              <div class="col">21</div>
              <div class="col">22</div>
              <div class="col">23</div>
              <div class="col">24</div>
              <div class="col">25</div>
              <div class="col">26</div>
              <div class="col">27</div>
            </div>
            <div class="row my-5">
              <div class="col">28</div>
              <div class="col">29</div>
              <div class="col">30</div>
              <div class="col">31</div>
              <div class="next-date col">1</div>
              <div class="next-date col">2</div>
              <div class="next-date col">3</div>
            </div>
            <div class="row my-5">
              <div class="next-date col">4</div>
              <div class="next-date col">5</div>
              <div class="next-date col">6</div>
              <div class="next-date col">7</div>
              <div class="next-date col">8</div>
              <div class="next-date col">9</div>
              <div class="next-date col">10</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
