<footer class="footer py-4" style="background-color: white">
  <div class="content has-text-centered">
    <p>
      <strong>Quilt Guild</strong> by
      <a href="https://collinmathis.com">Collin Mathis</a>. The source code is
      licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
      The website content is licensed
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
        >CC BY NC SA 4.0</a
      >.
    </p>
  </div>
</footer>
