<footer class="footer mt-auto">
  <div class="container d-flex justify-content-center align-items-center py-4">
    <div>
      <a
        href="https://www.facebook.com/MSQTG/"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        role="button"
      >
        <i class="fab fa-facebook-f"></i>
      </a>
      <a
        href=""
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        role="button"
      >
        <i class="fab fa-instagram"></i>
      </a>
      <a
        href="https://www.pinterest.com/msqtg/"
        class="btn btn-link btn-floating btn-lg text-dark m-1"
        role="button"
      >
        <i class="fab fa-pinterest"></i>
      </a>
    </div>
    <div class="mx-5">
      <a href="mailto:msqtguild@gmail.com">msqtguild@gmail.com</a>
    </div>
    <div class="ms-3">
      <div>PO Box 1236</div>
      <div>Round Rock, TX</div>
      <div>78664</div>
    </div>
  </div>
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.05)">
    <strong>Main Street Quilt Guild</strong> by
    <a href="https://collinmathis.com">Collin Mathis</a>. The source code is
    licensed <a href="http://opensource.org/licenses/mit-license.php">MIT</a>.
    The website content is licensed
    <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"
      >CC BY NC SA 4.0</a
    >.
  </div>
</footer>
