<%= layout('layouts/boilerplate') %>

<div class="container my-auto">
  <div class="row align-items-center justify-content-center">
    <div class="col-lg-8 mb-4"><%- include('partials/calendar') %></div>
  </div>
</div>
