<%= layout('layouts/boilerplate') %>

<div class="container h-100">
  <div class="row align-items-center justify-content-center h-100">
    <div class="col-8"><%- include('partials/calendar') %></div>
  </div>
</div>

<style>
  main {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    height: 100%;
  }
</style>
