<%= layout('layouts/boilerplate') %>

    <div class="container">
        <div class="row justify-content-center">
            <div class="col-6 my-5">
                <div class="row">
                    <div class="col">
                        <figure class="text-center">
                            <img class="img-fluid" src="/img/MSQG_Logo.png" alt=""
                                style="max-height: 85%; max-width: 85%" />
                        </figure>
                    </div>
                </div>
                <div class="card shadow">
                    <div class="card-body p-5">
                        <div class="row">
                            <div class="col text-center">
                                <h1 class="h1">
                                    Thank you!
                                </h1>
                                <p class="lead mb-1">
                                    We appreciate you contacting us! One of our colleagues will
                                    get back in touch with you soon.
                                </p>
                                <p class="lead">
                                    Have a great day!
                                </p>
                                <figcaption class="blockquote-footer mt-0">Main Street Quilt Guild</figcaption>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>