<%= layout('layouts/boilerplate') %>

<div class="container">
  <div class="row mt-4">
    <div class="col">
      <figure class="figure-img text-center mb-4">
        <img
          src="/img/MSQG_Logo.png"
          alt=""
          class="img-fluid"
          style="max-height: 50%; max-width: 50%"
        />
      </figure>
    </div>
  </div>
  <div class="row align-items-center justify-content-center mb-5">
    <div class="col-6">
      <div class="card shadow" style="background-color: #f8f9fa">
        <div class="card-body">
          <h3 class="h3 text-center mb-4"><ins>Report Issue</ins></h3>
          <form
            action="report-an-issue"
            method="post"
            class="formValidation"
            novalidate
          >
            <div class="row">
              <div class="col">
                <div class="form-floating mb-3">
                  <input
                    type="text"
                    class="form-control"
                    id="floatingInput fullName"
                    placeholder=" "
                    name="report[fullName]"
                    required
                  />
                  <label for="floatingInput fullName">Full Name</label>
                </div>
                <div class="form-floating mb-3">
                  <input
                    type="email"
                    class="form-control"
                    id="floatingInput email"
                    placeholder=" "
                    name="report[email]"
                    required
                  />
                  <label for="floatingInput email">Email Address</label>
                </div>
                <div class="form-floating mb-3">
                  <textarea
                    class="form-control"
                    id="floatingTextarea2 issue"
                    placeholder=" "
                    style="height: 100px"
                    name="report[issue]"
                    required
                  ></textarea>
                  <label for="floatingTextarea2 issue">Issue</label>
                </div>
                <div class="row align-items-center justify-content-center">
                  <div class="col-4 text-center">
                    <button
                      type="submit"
                      class="btn btn-primary mb-2 px-5 text-center"
                    >
                      Send
                    </button>
                  </div>
                </div>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  (() => {
    'use strict';

    const forms = document.querySelectorAll('.formValidation');

    Array.from(forms).forEach((form) => {
      form.addEventListener(
        'submit',
        (event) => {
          if (!form.checkValidity()) {
            event.preventDefault();
            event.stopPropagation();
          }

          form.classList.add('was-validated');
        },
        false
      );
    });
  })();
</script>
