<%= layout('layouts/boilerplate') %>
<section class="hero is-fullheight">
  <div class="container">
    <div class="columns is-centered mb-0">
      <div class="column is-10">
        <figure class="image">
          <img src="/img/MSQG_Logo.png" alt="" class="has-image-centered" />
        </figure>
      </div>
    </div>
    <div class="columns is-centered">
      <div class="column is-5">
        <form class="box">
          <h3 class="title">Report an Issue:</h3>
          <div class="field">
            <label for="name" class="label">Name</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" class="input" placeholder="Full Name" />
              <span class="icon is-small is-left">
                <i class="fas fa-user"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label for="email" class="label">Email</label>
            <div class="control has-icons-left has-icons-right">
              <input type="text" class="input" placeholder="jdoe@example.com" />
              <span class="icon is-small is-left">
                <i class="fas fa-envelope"></i>
              </span>
            </div>
          </div>
          <div class="field">
            <label class="label">Issue</label>
            <div class="control">
              <textarea
                class="textarea"
                placeholder="What seems to be the problem?"
              ></textarea>
            </div>
          </div>
          <div class="field is-grouped">
            <div class="control">
              <button class="button is-link">Submit</button>
            </div>
            <div class="control">
              <a href="/" class="button is-link is-light">Cancel</a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>
